.message__containerBot {
    margin: 10px auto;
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.message__containerAuthor {
    margin: 10px auto;
    width: 600px;
    display: flex;
    align-items: center;
}
.message__title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: white;
}
.message__bot{
    background-color: #69bd69;
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
}
.message__author {
    background-color: #6e6ed2;
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    overflow-wrap: break-word;
}
.message__input{
    width: 500px;
    height: 30px;
    margin: 50px auto;
    box-sizing: border-box;
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
}
.message__button{
    width: 100px;
    height: 30px;
    margin: auto;
    border-radius: 0 20px 20px 0;
}
.message__form {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}